{% extends "member/base.html" %}

{% load static %}

{% block sidemenu %}
<li><a href="{% url 'index' %}"> <i class="fas fa-home"></i>首頁</a><li>          
<li><a href="{% url 'commission' %}"> <i class="fas fa-hand-holding-water"></i>公司抽水紀錄 </a></li>
<li><a href="/member/goldflow/"> <i class="fas fa-landmark"></i>系統金流管理</a></li>
<li><a href="/member/introduction_gold_list/"> <i class="fas fa-file-invoice-dollar"></i>介紹金查詢</a></li>
<li><a href="#playerDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fas fa-users"></i>玩家資訊 </a>
  <ul id="playerDropdown" class="collapse list-unstyled ">
    <li><a href="/member/playerlist/">玩家列表</a></li>
    <li><a href="/member/agent/">代理管理</a></li>
    <li><a href="/member/vip/">VIP組織圖</a></li>
  </ul>
</li>
<li><a href="#gamesDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fas fa-trophy"></i>遊戲資訊 </a>
  <ul id="gamesDropdown" class="collapse list-unstyled ">
    <li><a href="/member/game_room/">牌局紀錄</a></li>
    <li><a href="/member/show_score/">玩家戰績</a></li>
    <li><a href="/member/leaderboard/">玩家排行</a></li>
  </ul>
</li>
<li><a href="{% url 'bulletin' %}"> <i class="fas fa-bullhorn"></i>公告管理</a></li>
<li><a href="/member/block_list/"> <i class="fas fa-list-alt"></i>公司報表相關專區</a></li>
<li class="active"><a href="#adminDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fas fa-star"></i>管理員資訊 </a>
  <ul id="adminDropdown" class="collapse list-unstyled show">
    <li><a href="/member/admin_list/">管理員清單</a></li>
    <li class="active"><a href="/member/password_change/">修改密碼</a></li>
  </ul>
</li>
{% endblock sidemenu %}

{% block content %}
<!-- page detail -->
<div class="container-fluid px-3">
  <p class="my-3 text-danger">修改密碼</p>
  <div class="page-container">
    <form class="form" action="" method="POST">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if form.errors %}
      <ul class="messages">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% csrf_token %}
  
      <div class="form-group row mb-2">
        <label for="{{ form.old_password.id_for_label }}" class="col-md-5 text-right">舊密碼</label>
        <div class="col-md-3">
          {{ form.old_password }}
          <!-- <input type="password" class="clear form-control" id="old_password" placeholder="請輸入舊密碼"> -->
        </div>
      </div>
  
      <div class="form-group row mb-2">
        <label for="{{ form.new_password1.id_for_label }}" class="col-md-5 text-right">新密碼</label>
        <div class="col-md-3">
          {{ form.new_password1 }}
          <!-- <input type="password" class="clear form-control" id="new_pwd1" placeholder="請輸入新密碼"> -->
          
        </div>
      </div>
  
      <div class="form-group row mb-2">
        <label for="{{ form.new_password2.id_for_label }}" class="col-md-5 text-right">新密碼確認</label>
        <div class="col-md-3">
          {{ form.new_password2 }}
          <!-- <input type="password" class="clear form-control" id="new_pwd2" placeholder="請再次輸入新密碼"> -->
          {{ form.new_password2.errors }}
        </div>
      </div>

      <div class="d-flex justify-content-center py-3">
        <button type="submit" class="btn btn-danger ml-5">更新密碼</button>
      </div>      
  
    </form>
  </div>
</div>

{% endblock content %}

{% block extra_scripts %}
<!-- custom js 
<script src="{% static 'member/js/admin_list.js' %}"></script>
-->
{% endblock extra_scripts %}