{% load static %}
<html>

<head>
<meta http-equiv="Content-Language" content="zh-tw">
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title></title>
</head>

<body bgcolor="#282828" topmargin="0">

<div align="center">
	<table border="0" width="1080" id="table1" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
		<tr>
			<td>
			<p style="margin-top: 0; margin-bottom: 0">
			<img border="0" src="{% static 'member/img/wife01.jpg' %}" width="1080" height="719"></p>
			<p style="margin-top: 0; margin-bottom: 0">
			<img border="0" src="{% static 'member/img/wife02.jpg' %}" width="1080" height="932"></p>
			<table border="0" width="100%" id="table2" cellspacing="0" cellpadding="0" height="564">
				<tr>
					<td width="528">
					<p style="margin-top: 0; margin-bottom: 0">
					<img border="0" src="{% static 'member/img/wife03a.jpg' %}" width="528" height="564"></td>
					<td width="552" background="{% static 'member/img/wife03b.jpg' %}" valign="top">
					<p style="margin-top: 0; margin-bottom: 0" align="left"><iframe width="520" height="293" src="https://www.youtube.com/embed/VV9_E4O_edg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
				</tr>
			</table>
			<p style="margin-top: 0; margin-bottom: 0">
			<img border="0" src="{% static 'member/img/wife04.jpg' %}" width="1080" height="1142"></p>
			<p style="margin-top: 0; margin-bottom: 0">
			<img border="0" src="{% static 'member/img/wife05.jpg' %}" width="1080" height="623"></p>
			<p style="margin-top: 0; margin-bottom: 0">
			<img border="0" src="{% static 'member/img/wife06.jpg' %}" width="1080" height="951"></p>
			<p style="margin-top: 0; margin-bottom: 0">
			<img border="0" src="{% static 'member/img/orderform.jpg' %}" width="1080" height="699"></p>
			<p style="margin-top: 0; margin-bottom: 0" align="center">訂單查詢&nbsp; 
			|&nbsp; 聯絡我們&nbsp; |&nbsp; 物流條款&nbsp; |&nbsp; 服務條款&nbsp; |&nbsp; 
			隱私協議</p>
			<p style="line-height: 150%; margin-top: 0; margin-bottom: 0" align="center">
			<br>
			Copyright &copy; 2020-2021 AXE capital co., Ltd. All rights reserved.<br>
			版權所有&copy; 2020-2021 安克思國際有限公司</p>
			<p style="margin-top: 0; margin-bottom: 0">　</p>
			<p style="margin-top: 0; margin-bottom: 0">　</td>
		</tr>
	</table>
</div>

</body>

</html>
