{% load static %}

<!-- JavaScript files-->
<script src="{% static 'member/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'member/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'member/js/jquery.cookie.js' %}"> </script>
<script src="{% static 'member/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'member/vendor/mCustomScrollbar/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<!-- Data Tables-->
<!-- <script src="{% static 'member/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'member/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'member/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'member/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'member/js/tables-datatable.js' %}"></script> -->
<!-- Main File-->
<script src="{% static 'member/js/common.js' %}"></script>

